.iframeContainer {
  padding-top: 60px;
  padding-bottom: 100px;
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  background-color: var(--cg-9);
}

.iframeContainer h2 {
  padding-bottom: 30px;
}

.iframe {
  max-width: var(--max-content-width);
  border: none;
}
